@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section {
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 10px #000000b2;
}

div#foto > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}

div {
    text-align: center;
    padding: 15px;
}

#flista {
    margin-top: 30px;
    padding: 100px;
}